In [115]:
import csv
import pandas as pd
import numpy as np
import datetime

In [36]:
basePath = "../benchmark-client/app/"

In [40]:
import glob
msgs = glob.glob(basePath + "/messages/*")
results = glob.glob(basePath + "/results/*")

In [54]:
## For Messages
msgsList = []

for filename in msgs:
    df = pd.read_csv(filename, index_col=None, header=0, delimiter=";")
    msgsList.append(df)

msgDf = pd.concat(msgsList, axis=0, ignore_index=True)

In [64]:
## For Resulsts
resultsList = []

for filename in results:
    df = pd.read_csv(filename, index_col=None, header=0, delimiter=";")
    resultsList.append(df)

resultDf = pd.concat(resultsList, axis=0, ignore_index=True)

In [56]:
msgDf

,id,sendTimestamp,value,threadId,benchmarkClientI,logAppendTimeD,wasLate
0,14-0,1675438602500,3273,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438602648,False
1,14-1,1675438603199,6367,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438603208,False
2,14-2,1675438603735,6064,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438603756,False
3,14-3,1675438598272,4513,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438604276,True
4,14-4,1675438598778,543,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438604850,True
...,...,...,...,...,...,...,...
115,14-115,1675438661249,1199,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438661250,False
116,14-116,1675438661755,5953,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438661756,False
117,14-117,1675438662257,5186,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438662258,False
118,14-118,1675438662759,1646,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438662763,False
119,14-119,1675438663264,4445,14,970e8ba4-a09b-4878-b1de-9295af5d6f5a,1675438663266,False

In [57]:
resultDf

,id,sendTimestamp,value,windowEnd,windowStart,numRecords,writeInTimestamp,writeOutTimestamp,writeOutType,composed
0,NaN,1675433425250,28825,1675433430000,1675433425000,5,NaN,1675433698268,LogAppendTime,"[0,0,0,0,0]"
1,NaN,1675433690206,12543,1675433695000,1675433690000,2,NaN,1675433698273,LogAppendTime,"[0,0]"
2,NaN,1675433697621,33814,1675433700000,1675433695000,5,NaN,1675433700250,LogAppendTime,"[0,0,0,0,0]"
3,NaN,1675433697621,38906,1675433700000,1675433695000,6,NaN,1675433705273,LogAppendTime,"[0,0,0,0,0,0]"
4,NaN,1675433700157,57659,1675433705000,1675433700000,10,NaN,1675433705866,LogAppendTime,"[0,0,0,0,0,0,0,0,0,0]"
...,...,...,...,...,...,...,...,...,...,...
83,NaN,1675438650092,43589,1675438655000,1675438650000,8,NaN,1675438655359,LogAppendTime,"[14-93,14-94,14-95,14-96,14-97,14-98,14-99,14-..."
84,NaN,1675438650092,50499,1675438655000,1675438650000,9,NaN,1675438657281,LogAppendTime,"[14-93,14-94,14-95,14-96,14-97,14-98,14-99,14-..."
85,NaN,1675438650092,51962,1675438655000,1675438650000,10,NaN,1675438657762,LogAppendTime,"[14-93,14-94,14-95,14-96,14-97,14-98,14-99,14-..."
86,NaN,1675438650092,58513,1675438655000,1675438650000,11,NaN,1675438658265,LogAppendTime,"[14-93,14-94,14-95,14-96,14-97,14-98,14-99,14-..."
87,NaN,1675438655151,40500,1675438660000,1675438655000,7,NaN,1675438660366,LogAppendTime,"[14-103,14-104,14-105,14-106,14-110,14-111,14-..."

In [101]:
unqiueResults = resultDf.drop_duplicates(subset='windowStart', keep='last')

In [102]:
unqiueResults

,id,sendTimestamp,value,windowEnd,windowStart,numRecords,writeInTimestamp,writeOutTimestamp,writeOutType,composed
0,NaN,1675433425250,28825,1675433430000,1675433425000,5,NaN,1675433698268,LogAppendTime,"[0,0,0,0,0]"
1,NaN,1675433690206,12543,1675433695000,1675433690000,2,NaN,1675433698273,LogAppendTime,"[0,0]"
3,NaN,1675433697621,38906,1675433700000,1675433695000,6,NaN,1675433705273,LogAppendTime,"[0,0,0,0,0,0]"
4,NaN,1675433700157,57659,1675433705000,1675433700000,10,NaN,1675433705866,LogAppendTime,"[0,0,0,0,0,0,0,0,0,0]"
5,NaN,1675433705741,8060,1675433710000,1675433705000,2,NaN,1675433787714,LogAppendTime,"[0,0]"
7,NaN,1675433783221,15664,1675433785000,1675433780000,2,NaN,1675433789821,LogAppendTime,"[0,0]"
12,NaN,1675433785758,30015,1675433790000,1675433785000,9,NaN,1675433795546,LogAppendTime,"[0,0,0,0,0,0,0,0,0]"
14,NaN,1675433790236,40336,1675433795000,1675433790000,8,NaN,1675433796496,LogAppendTime,"[0,0,0,0,0,0,0,0]"
15,NaN,1675433795872,6126,1675433800000,1675433795000,1,NaN,1675433865176,LogAppendTime,[0]
18,NaN,1675433862738,32401,1675433865000,1675433860000,5,NaN,1675433869834,LogAppendTime,"[0,0,0,0,0]"
19,NaN,1675433865176,34884,1675433870000,1675433865000,8,NaN,1675433870535,LogAppendTime,"[0,0,0,0,0,0,0,0]"
20,NaN,1675433870268,30283,1675433875000,1675433870000,7,NaN,1675434088692,LogAppendTime,"[0,0,0,0,0,0,0]"
21,NaN,1675434081551,9023,1675434085000,1675434080000,1,NaN,1675434088712,LogAppendTime,[0]
23,NaN,1675434087821,21607,1675434090000,1675434085000,5,NaN,1675434093877,LogAppendTime,"[0,0,0,0,0]"
24,NaN,1675434090265,31171,1675434095000,1675434090000,9,NaN,1675434095471,LogAppendTime,"[0,0,0,0,0,0,0,0,0]"
25,NaN,1675434095346,31122,1675434100000,1675434095000,5,NaN,1675434139134,LogAppendTime,"[0,0,0,0,0]"
28,NaN,1675434136286,23909,1675434140000,1675434135000,5,NaN,1675434145422,LogAppendTime,"[0,0,0,0,0]"
31,NaN,1675434140264,65626,1675434145000,1675434140000,11,NaN,1675434147937,LogAppendTime,"[0,0,0,0,0,0,0,0,0,0,0]"
32,NaN,1675434145848,21572,1675434150000,1675434145000,4,NaN,1675438043756,LogAppendTime,"[0,0,0,0]"
34,NaN,1675438037056,13837,1675438040000,1675438035000,2,NaN,1675438044176,LogAppendTime,"[0,0]"
36,NaN,1675438041431,24778,1675438045000,1675438040000,6,NaN,1675438049735,LogAppendTime,"[0,0,0,0,0,0]"
38,NaN,1675438045084,43407,1675438050000,1675438045000,10,NaN,1675438051204,LogAppendTime,"[0,0,0,0,0,0,0,0,0,0]"
39,NaN,1675438050162,8200,1675438055000,1675438050000,2,NaN,1675438198867,LogAppendTime,"[0,0]"
40,NaN,1675438192060,4728,1675438195000,1675438190000,1,NaN,1675438198942,LogAppendTime,[0]
42,NaN,1675438197382,26555,1675438200000,1675438195000,5,NaN,1675438204437,LogAppendTime,"[0,0,0,0,0]"
44,NaN,1675438200219,48177,1675438205000,1675438200000,10,NaN,1675438206398,LogAppendTime,"[0,0,0,0,0,0,0,0,0,0]"
45,NaN,1675438205291,14579,1675438210000,1675438205000,4,NaN,1675438305958,LogAppendTime,"[0,0,0,0]"
48,NaN,1675438305447,32364,1675438310000,1675438305000,7,NaN,1675438310219,LogAppendTime,"[0,0,0,0,0,0,0]"
49,NaN,1675438300032,19011,1675438305000,1675438300000,3,NaN,1675438310610,LogAppendTime,"[0,0,0]"
50,NaN,1675438310094,40028,1675438315000,1675438310000,9,NaN,1675438315421,LogAppendTime,"[0,0,0,0,0,0,0,0,0]"
53,NaN,1675438598272,14901,1675438600000,1675438595000,3,NaN,1675438606520,LogAppendTime,"[14-3,14-4,14-5]"
55,NaN,1675438602500,25619,1675438605000,1675438600000,4,NaN,1675438610140,LogAppendTime,"[14-0,14-1,14-2,14-14]"
60,NaN,1675438605092,72310,1675438610000,1675438605000,12,NaN,1675438614210,LogAppendTime,"[14-6,14-7,14-8,14-9,14-10,14-11,14-12,14-13,1..."
63,NaN,1675438610576,27759,1675438615000,1675438610000,7,NaN,1675438618837,LogAppendTime,"[14-15,14-18,14-19,14-20,14-23,14-27,14-31]"
65,NaN,1675438615146,50351,1675438620000,1675438615000,9,NaN,1675438622347,LogAppendTime,"[14-24,14-25,14-26,14-28,14-29,14-30,14-32,14-..."
69,NaN,1675438620234,36181,1675438625000,1675438620000,12,NaN,1675438628877,LogAppendTime,"[14-34,14-35,14-36,14-37,14-39,14-40,14-41,14-..."
72,NaN,1675438625287,64912,1675438630000,1675438625000,9,NaN,1675438633408,LogAppendTime,"[14-44,14-45,14-46,14-48,14-49,14-52,14-53,14-..."
74,NaN,1675438630356,44452,1675438635000,1675438630000,9,NaN,1675438637030,LogAppendTime,"[14-54,14-55,14-57,14-58,14-59,14-61,14-62,14-..."
76,NaN,1675438635416,55811,1675438640000,1675438635000,10,NaN,1675438641545,LogAppendTime,"[14-64,14-65,14-66,14-68,14-69,14-70,14-71,14-..."
79,NaN,1675438640474,69621,1675438645000,1675438640000,10,NaN,1675438648623,LogAppendTime,"[14-74,14-75,14-77,14-78,14-79,14-80,14-81,14-..."
82,NaN,1675438645030,71600,1675438650000,1675438645000,10,NaN,1675438654745,LogAppendTime,"[14-83,14-84,14-85,14-86,14-87,14-88,14-91,14-..."
86,NaN,1675438650092,58513,1675438655000,1675438650000,11,NaN,1675438658265,LogAppendTime,"[14-93,14-94,14-95,14-96,14-97,14-98,14-99,14-..."
87,NaN,1675438655151,40500,1675438660000,1675438655000,7,NaN,1675438660366,LogAppendTime,"[14-103,14-104,14-105,14-106,14-110,14-111,14-..."

In [117]:
unqiueResults.reset_index(drop=True, inplace=True)

for index, row in unqiueResults.iterrows():
    arrayStr = row['composed'].replace("[", "").replace("]", "")
    data = arrayStr.split(",")

    if data[0] == '0':
        continue
        
    print(row['writeOutTimestamp'], row['composed'])
    
    writeOut = datetime.datetime.fromtimestamp(row['writeOutTimestamp']/1000.0)
        
    x = []
    for el in data:
        sendData = msgDf.loc[msgDf['id'] == el]["sendTimestamp"].values[0]
        x.append(sendData)
        
    writeInMax = datetime.datetime.fromtimestamp(np.max(x)/1000.0)
    writeInMin = datetime.datetime.fromtimestamp(np.min(x)/1000.0)
    
    print(writeOut - writeInMax - datetime.timedelta(seconds=5))
    print(writeOut - writeInMin - datetime.timedelta(seconds=5))

1675438606520 [14-3,14-4,14-5]
0:00:02.142000
0:00:03.248000
1675438610140 [14-0,14-1,14-2,14-14]
0:00:01.073000
0:00:02.640000
1675438614210 [14-6,14-7,14-8,14-9,14-10,14-11,14-12,14-13,14-16,14-17,14-21,14-22]
-1 day, 23:59:59.664000
0:00:04.118000
1675438618837 [14-15,14-18,14-19,14-20,14-23,14-27,14-31]
-1 day, 23:59:59.198000
0:00:03.261000
1675438622347 [14-24,14-25,14-26,14-28,14-29,14-30,14-32,14-33,14-38]
-1 day, 23:59:57.618000
0:00:02.201000
1675438628877 [14-34,14-35,14-36,14-37,14-39,14-40,14-41,14-42,14-43,14-47,14-50,14-51]
-1 day, 23:59:59.095000
0:00:03.643000
1675438633408 [14-44,14-45,14-46,14-48,14-49,14-52,14-53,14-56,14-60]
-1 day, 23:59:58.563000
0:00:03.121000
1675438637030 [14-54,14-55,14-57,14-58,14-59,14-61,14-62,14-63,14-67]
-1 day, 23:59:57.120000
0:00:01.674000
1675438641545 [14-64,14-65,14-66,14-68,14-69,14-70,14-71,14-72,14-73,14-76]
-1 day, 23:59:56.579000
0:00:01.129000
1675438648623 [14-74,14-75,14-77,14-78,14-79,14-80,14-81,14-82,14-89,14-90]
-1 day, 23:59:59.098000
0:00:03.149000
1675438654745 [14-83,14-84,14-85,14-86,14-87,14-88,14-91,14-92,14-101,14-102]
0:00:00.159000
0:00:04.715000
1675438658265 [14-93,14-94,14-95,14-96,14-97,14-98,14-99,14-100,14-107,14-108,14-109]
-1 day, 23:59:59.631000
0:00:03.173000
1675438660366 [14-103,14-104,14-105,14-106,14-110,14-111,14-112]
-1 day, 23:59:55.636000
0:00:00.215000